# This is Git's per-user configuration file.
[user]
	name = Jesse Spevack
	email = jspevack@gmail.com
[pager]
	branch = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
